
body{
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(190, 212, 109);
}

.congratulations-container {
    text-align: center;
    padding: 20px;
    background-color: #0c7dee;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: 40px auto;
}

.congratulations-title {
    color: #ff6f61;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.congratulations-message {
    color: #4a4a4a;
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.congratulations-wishes {
    color: #6c757d;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.congratulations-image {
    width: 100px;
    margin-bottom: 20px;
}

.return-home-button {
    padding: 10px 20px;
    background-color: #ff6f61;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
}

.return-home-button:hover {
    background-color: #ff4a3d;
}
